<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS_DOM_ng-disabled指令</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script type="text/javascript" src="http://swt.yizhongdashi.top/js/angular.min.js"></script>
</head>
<body>
<xmp>
    
        <div ng-app="" ng-init="mySwitch=true">
                <p>
                    <button ng-disabled="mySwitch">点我</button>
                </p>
                <p>
                    <input type="checkbox"  ng-model="mySwitch" />
                </p>
                <p>
                    {{mySwitch}}
                </p>
            </div>

</xmp>
<pre>
ng-disabled 指令绑定应用程序数据 "mySwitch" 到 HTML 的 disabled 属性。
ng-model 指令绑定 "mySwitch" 到 HTML input checkbox 元素的内容（value）。
如果 mySwitch 为true, 按钮将不可用: 
如果 mySwitch 为false, 按钮则可用: 
</pre>
    <div ng-app="" ng-init="mySwitch=true">
        <p>
            <button ng-disabled="mySwitch">点我</button>
        </p>
        <p>
            <input type="checkbox"  ng-model="mySwitch" />
        </p>
        <p>
            {{mySwitch}}
        </p>
    </div>
</body>
</html>