<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ng-model指令--应用状态</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script type="text/javascript" src="http://swt.yizhongdashi.top/js/angular.min.js"></script>
</head>
<body>
    	
    	<xmp>
    	<form ng-app="" name="myForm" ng-init="myText = 'test@runoob.com'">
		Email:
		<input type="email" name="myAddress" ng-model="myText"  required />
		<p>编辑邮箱地址，查看状态的改变。</p>
		<h1>状态</h1>
		<p>Valid：{{myForm.myAddress.$valid}} (如果输入的值是合法的则为true)</p>
		<p>Dirty： {{myForm.myAddress.$dirty}}（如果值改变则为true）</p>
		<p>Touched：{{myForm.myAddress.$touched}} （如果通过触屏点击则为true）</p>
	</form>
    	</xmp>
	<form ng-app="" name="myForm" ng-init="myText = 'test@runoob.com'">
		Email:
		<input type="email" name="myAddress" ng-model="myText"  required />
		<p>编辑邮箱地址，查看状态的改变。</p>
		<h1>状态</h1>
		<p>Valid：{{myForm.myAddress.$valid}} (如果输入的值是合法的则为true)</p>
		<p>Dirty： {{myForm.myAddress.$dirty}}（如果值改变则为true）</p>
		<p>Touched：{{myForm.myAddress.$touched}} （如果通过触屏点击则为true）</p>
	</form>
</body>
</html>