<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Scope  添加删除数据</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script type="text/javascript" src="http://swt.yizhongdashi.top/js/angular.min.js"></script>

</head>

<body>
    	<xmp>	
	<div ng-app="myApp" ng-controller="myContrl">
		<h1>{{lastname}}家族成员：</h1>
		<ul>
			<li ng-repeat="x in names track by $index">
				{{x}} . {{lastname}}
				<button ng-click="delPerson($index)">删除</button>
			</li>
		</ul>
		<p>添加成员：
		<input  type="text" ng-model="name" placeholder="请输入需要添加的成员名字" /></p>
		<button ng-click="addPerson(name)">确认添加</button>
		<p>{{greeting}}</p>
		
	</div>
	<script type="text/javascript">
		angular.module("myApp",[]).controller('myContrl',function($scope,$rootScope){
			//$rootScope 根作用域，在所有的控制器中都可以用
			$scope.name = '';
			$scope.names = ['name1','name2','name3','name4','name4'];
			
			$scope.delPerson = function(index){
				//将点击删除的对象从数组中移除，angular会自动更新列表
				$scope.names.splice(index,1);
			}
			$scope.addPerson = function(name){
				//输入的对象添加到数组，angular会自动更新列表
				$scope.names.push(name);
				$scope.greeting = "Hello," + $scope.name+ "!";

			}
			$rootScope.lastname = "Refsnes";
		})
	</script>
    	</xmp>
	<div ng-app="myApp" ng-controller="myContrl">
		<h1>{{lastname}}家族成员：</h1>
		<ul>
			<li ng-repeat="x in names track by $index">
				{{x}} . {{lastname}}
				<button ng-click="delPerson($index)">删除</button>
			</li>
		</ul>
		<p>添加成员：
		<input  type="text" ng-model="name" placeholder="请输入需要添加的成员名字" /></p>
		<button ng-click="addPerson(name)">确认添加</button>
		<p>{{greeting}}</p>
		
	</div>
	<script type="text/javascript">
		angular.module("myApp",[]).controller('myContrl',function($scope,$rootScope){
			//$rootScope 根作用域，在所有的控制器中都可以用
			$scope.name = '';
			$scope.names = ['name1','name2','name3','name4','name4'];
			
			$scope.delPerson = function(index){
				//将点击删除的对象从数组中移除，angular会自动更新列表
				$scope.names.splice(index,1);
			}
			$scope.addPerson = function(name){
				//输入的对象添加到数组，angular会自动更新列表
				$scope.names.push(name);
				$scope.greeting = "Hello," + $scope.name+ "!";

			}
			$rootScope.lastname = "Refsnes";
		})
	</script>
</body>
</html>