<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>AngularJS 控制器方法</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="http://swt.yizhongdashi.top/js/angular.min.js"></script>
</head>
<body>

	<xmp>
	<div ng-app="myApp" ng-controller="personCtrl">
		名：<input type="text" ng-model="firstName" /><br />
		姓：<input type="text" ng-model="lastName" /><br />
		<br />
		姓名：{{fullName()}}
	</div>
    	<script type="text/javascript">
    		var app = angular.module('myApp',[]);
    		app.controller('personCtrl',function($scope){
    			$scope.firstName = "John";
    			$scope.lastName = "Doe";
    			$scope.fullName = function(){
    				return $scope.firstName + " " + $scope.lastName;
    			}
    		});
    	</script>
	</xmp>
	
	<div ng-app="myApp" ng-controller="personCtrl">
		名：<input type="text" ng-model="firstName" /><br />
		姓：<input type="text" ng-model="lastName" /><br />
		<br />
		姓名：{{fullName()}}
	</div>
    	<script type="text/javascript">
    		var app = angular.module('myApp',[]);
    		app.controller('personCtrl',function($scope){
    			$scope.firstName = "John";
    			$scope.lastName = "Doe";
    			$scope.fullName = function(){
    				return $scope.firstName + " " + $scope.lastName;
    			}
    		});
    	</script>
</body>
</html>